---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Startseite" description="Hier geht's los!">
  <h2>Inhaltsverzeichnis</h2>
  <ol>
    <li><a href="/01-einfuehrung">Einführung</a></li>
    <li>
      <a href="/02-die-unterschiedlichen-elemente"
        >Die unterschiedlichen Elemente</a
      >
    </li>
    <li><a href="/03-mediale-inhalte">Mediale Inhalte</a></li>
    <li><a href="/04-css">CSS - Das visuelle Design einer Website</a></li>
  </ol>
</BaseLayout>
